@{
    ViewData["Title"] = "Home Page";
}


<!Doctype Html>
<Html>
<Body background="https://images.wallpaperscraft.com/image/single/cat_box_sit_shade_shelter_66515_2048x1152.jpg">
    <Center>
        <h1 style="color: white; font-size: 60px">Murder Mittens Animal Shelter</h1>
        <p style="color: white; font-size: 25px">Your friend, your brother and your very own furry head-pillow :)</p>
    </Center>
</Body>
</Html>  